/* Global stye */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-size: 64px;
}
h2{
    font-size:35px;
}
h3{
    font-size:30px;
}
h4{
    font-size:26px;
}
h5{
    font-size:15px;
}
h6{
    font-size:38px;
}
.padding{
    padding:40px 80px;
}

/* header section start  */
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:20px 80px;
    background:#E3E6F3;
    box-shadow:10px 10px 15px rgba(0,0,0,0.3);
    position:sticky;
    z-index: 3;
    top:0;
    left:0;
}
.header .logo{
    cursor:pointer;
}
.header nav ul{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.header nav ul li{
    list-style: none;
}
.header nav ul li a{
    padding:0px 20px;
    text-decoration:none;
    color:rgba(1, 17, 2, 0.692);
    font-size:18px;
    font-weight: 700;
    position:relative;
    transition:0.3s ease;
    cursor:pointer;
}
.header nav ul li .active,.header nav ul li a:hover{
    color:#088178;
    transition:0.3s ease;
}
.header nav ul li .active::after{
    content:"";
    position:absolute;
    width:30%;
    bottom:-4px;
    left:20px;
    border:1px solid #088178;
}
.header nav ul li a:hover::after{
    content:"";
    position:absolute;
    color:red;
    width:30%;
    bottom:-4px;
    left:20px;
    border:1px solid #088178;
}

/* header section end  */

/* hero section start */
.hero{
    background-image: url('img/hero4.png');
    background-size: cover;
    background-position: top 25% right 0;
    width:100vw;
    height:90vh;
    padding:20px 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.hero h2{
    color:#088178;
    font-size: 60px;
    
}
.hero h3{
    font-size: 40px;
}
.hero h4{
    font-size:30px;
    padding:10px 0px;
}
.hero button{
    border:none;
    background-image: url('img/button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    padding:14px 60px 14px 70px;
    cursor:pointer;
    font-size: 1rem;
    color:#088178;
    font-weight: 700;
    margin:20px 0px;
    text-align:center;
    align-items:center;
}

/* featured section start */
.featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.featured .fe-box{
    border:1px solid rgb(225, 231, 240);
    text-align:center;
    padding:20px 10px;
    margin:0px 10px;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
    cursor:pointer;
}
.featured .fe-box:hover{
    box-shadow: 15px 10px 25px rgba(0,0,0,0.4);
}
.featured .fe-box img{
    width:100%;
    margin:8px 0px 17px 0px;
    
}
.featured .fe-box p{
    display:inline-block;
    line-height: 10px ;
    padding:5px;
    font-size: 12px;
    background-color: royalblue;
    color:#fff;
}

.featured .fe-box:nth-child(2) p{
    color:#fff;
    background-color: rgb(53, 119, 241);
}
.featured .fe-box:nth-child(3) p{
    color:#fff;
    background-color: rgba(112, 65, 221, 0.842);
}
.featured .fe-box:nth-child(4) p{
    color:#fff;
    background-color: rgba(168, 68, 10, 0.726);
}
.featured .fe-box:nth-child(5) p{
    color:#fff;
    background-color: #f3d382;
}
.featured .fe-box:nth-child(6) p{
    color:#fff;
    background-color: #86462d;
}
/* featured section start */
/* hero section start */

/* productd featured section start */
.prod-featured{
    text-align:center;
}
.prod-featured h2{
    padding-bottom:10px;
}
.prod-featured p{
    padding-bottom:30px;
    text-transform: capitalize;
}
.prod-featured .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.prod-featured .pro-container .pro{
    border:2px solid #cce7d0;
    padding:10px 10px;
    border-radius:30px;
    width:23%;
    max-width:250px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    margin:10px 0px;
    cursor:pointer;
}
.prod-featured .pro-container img{
    width:100%;
    border-radius:25px;
}
.prod-featured .pro-container .pro-desc{
    padding:20px 0px 10px 0px;
    text-align:start;
}
.prod-featured .pro-container .pro-desc h5{
    font-size: 14px;
    padding:3px 0px;
}
.prod-featured .pro-container .pro-desc .star{
    color:rgba(223, 135, 4, 0.911);
   
}
.prod-featured .pro-container .pro-desc #price{
    padding:3px;
    color:#088178;
}
.prod-featured .pro-container .pro-desc .cart{
    position:absolute;
    bottom:20px;
    right:17px;
    background:rgba(198, 226, 231, 0.89);
    padding:6px;
    border-radius:50%;
    color:#088178;
}
/* productd featured section start */

/* repair section start */
#repair{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/banner/b2.jpg');
    background-size:cover;
    background-position: 100% 100%;
    color:#fff;
}

#repair .repair-container{
    padding:40px 0px;
    text-align: center;
}
.repair-container h4{
    padding:10px 0px;
}
.repair-container .off{
    color:rgba(206, 59, 15, 0.904);
}
.repair-container .more{
    border:none;
    outline:none;
    padding:10px 20px; 
    border-radius: 10px;
    transition: 0.3s ease;
    cursor:pointer;
}
.repair-container .more:hover{
    background-color:#088178 ;
    color:#fff;
}
/* repair section start */
/* banner section start */
#banner{
    display: flex;
    justify-content: space-between;
}
#banner .banner-container{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    min-width: 400px;
    height: 40vh;
    background-image: url('img/banner/b17.jpg');
    background-size:cover;
    background-position: center;
    color:#fff;
    padding:30px;
    
}
#banner .banner-container2{
    background-image: url('img/banner/b10.jpg');
}
#banner .banner-container h3{
    padding:10px 0px;
    font-size: 33px;
    font-weight: 700;
}
#banner .banner-container .learn{
    border:2px solid #fff; 
    padding:10px 20px;
    color:#fff;
    font-size: 17px;
    margin-top:20px;
    background-color: transparent;
    transition:0.3s ease;
}
#banner .banner-container .learn:hover{
    background-color:#088178 ;
    color:#fff;
    border:2px solid #088178; 
}
#banner3{
    display: flex;
    justify-content: space-between;
}
#banner3 .banner-container{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    min-width: 250px;
    height: 30vh;
    background-image: url('img/banner/b7.jpg');
    background-size:cover;
    background-position: center;
    color:#fff;
    padding:20px;
    margin-top:10px;
    margin-bottom: 20px;
}
#banner3 .banner-container h5{
    font-size: 17px;
    text-transform: uppercase;
}
#banner3 .banner-container h3{
    color:rgba(197, 42, 3, 0.705);
    font-size: 12px;
    padding:5px 0px;
}
#banner3 .container2{
    background-image: url('img/banner/b4.jpg');
}
#banner3 .container3{
    background-image: url('img/banner/b18.jpg');
}


/* banner section start */
/* newsletter section start */
#newsletter{
    background: rgba(6, 6, 19, 0.822);
    color:#fff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#newsletter .newsbox h4{
    font-size: 20px;
    font-weight:800 ;
    text-transform: capitalize;
}
#newsletter .newsbox p{
    padding: 5px 0;
    line-height: 30px;

}
#newsletter .newsbox span{
    color:rgba(250, 153, 7, 0.842);
}
#newsletter .sign{
    display: flex;
    justify-content: center;
    align-items: center;
}
#newsletter .sign input{
    padding:7px 20px;
    display: inline-block;
    border-radius: 4px;
    outline:none;
    border:none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter .sign .signup{
    padding:7px 20px;
    display: inline-block;
    border-radius: 4px;
    outline:none;
    border:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color:#088178 ;
    color:#fff;
    cursor: pointer;
    transition: 0.3s ease;
}
#newsletter .sign .signup:hover{
    background-color:rgba(250, 153, 7, 0.842) ;
    color:#fff;
}
/* newsletter section start */

/* footer section section start */

footer .footer-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content:center;
    align-items:space-between;
    
}

.footer-container .contact h5{
    padding:8px 0;
    font-size: 20px;
    font-weight: 800;
}
.footer-container .contact p{
    padding:6px 0;
}
.footer-container .icon .fa{
    margin:4px 10px 0 0;
    font-size:20px;
    transition:0.3s ease;
}
.footer-container .icon .fa:hover{
    transform:scale(1.3);
    cursor: pointer;
}
.footer-container .fa-facebook-official{
    color:#4267B2;
}
.footer-container .us{
    padding-left:80px;
    padding-right:90px;
    
}
.footer-container .right{
    padding-right:110px;
}
.footer-container .about a{
    display:block;
    text-decoration: none;
    color:#000;
    padding:3px 0;
    font-size: 17px;
}
.footer-container .app{
    margin-right: -10px;
}
.footer-container h5{
    padding:9px 0;
}
.footer-container .app .img{
    display: flex;
}
.footer-container .app .img img{
    border:2px solid rgb(225, 231, 240) ;
    border-radius: 10px;
    margin:13px 6px;
}
.footer-container .payment img{
    padding:20px 0;
}
.footer-container .payment p{
    padding:5px 0;
}
/* footer section section start */
